

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Competition Entry Success</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
        <%- include('../partials/_navbar.ejs') %>
  <h1>Competition Entry Saved!</h1>

  <p>Your competitive swim result has been successfully recorded.</p>

  <p>
    <a href="/users/<%= user._id %>/competitions/new">Enter Another Result</a>
  </p>
  <p>
    <a href="/users/<%= user._id %>/competitions">View All Competition Results</a>
  </p>
</body>
</html>