<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Practice Saved</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  
    <h1>✅ Practice Session Saved!</h1>
  <p>Your data has been successfully recorded.</p>

  <p>
    <a href="/users/<%= user._id %>/practicesession">View Practice Log</a> |
    <a href="/users/<%= user._id %>/practicesession/new">Add Another Practice</a>
  </p>
</body>
</html>